@import "bootstrap";
.header {
  background-color: #5c4283;
  height: 50px;
  a {
    color:  #fff;
    padding-right: 10px;
  }
}
.admin {
  background-color: #c52f24;
}
.user {
  background-color: #5c4283;
}
.vip {
  background-color: #006400;
}
